body{
    display: flex;
    flex-wrap: wrap;
    border: 0em;
    margin: 0em;
}
#nav{
    position: fixed;
    align-items: center;
    height: fit-content;
    width: 100%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
#nav p{
    height: fit-content;
    text-align: center;
    color: white;   
    padding: 10px;
    margin: 15px 10px;
}
#nav a{
    color:white;
    text-decoration: none;
}
#nav p:hover{
    transform: scale(1.1);
    cursor:pointer;
}
.About{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
    
}
.About #abt{
    height: fit-content;
    width: 60%;
    color: rgb(10, 10, 10);
    font-weight: bold;
    padding: 5px;
    margin: 5px;

}
#id img{   
    height: 200px;   
    width: 360px;
    margin: 40px;
    padding: 20px 10px;
    border: 2px solid black;
}
#brk{
    display: flex;
    
width: 100%;
height: 60px;
background: black;
color: black;
justify-content: center;
color: white;
align-items: center;
}
#skl h1{
    width: 100%;
    padding: 5px;
    margin: 20px;

}
#skl{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
}
#skl img{
    width: 230px;
    height: 200px;
    border: 2px solid rgb(15, 15, 15);
    padding: 10px 10px;
    margin: 20px 20px 20px 30px;
}
img:hover{
transform: scale(1.1);
box-shadow: 2px solid black;
}
#exp h1{
    width: 100%;
    padding: 5px;
    margin: 20px;

}
#exp{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    justify-content: center;
}
#exp details{
    width: 100%;
    padding: 5px;
    margin: 20px;
    font-size: 20px;
    
}

#exp summary{
font-size: 25px;
font-weight: bold;
}
#exp summary:hover{
    background-color: black;
    color: white;
}
#cnt{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items:center;
}
#cnt h1{
    width: 100%;
    padding: 5px;
    margin: 20px;

}
#cnt a{
   background-color: white;   
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
#cnt a:hover{
    background-color: black;
    color: white;
   
}
